:root {
  --contrast-color: #778DA9;
  --background-color: #dbe6f0;
  --primary-color: #1B263B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-color);
}


/*START HEADER/NAVIGATION CSS*/
header {
  padding: 20px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  padding: 0 10px 0 50px;
  font-size: 36px;
  color: var(--primary-color);
  background-color: var(--contrast-color);
}

header a {
  text-decoration: none;
  color: var(--contrast-color);
}

header nav {
  margin: 8px 16px 8px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 24px;
}
/*END HEADER/NAVIGATION CSS*/

/*START HERO CSS*/
.hero {
  height: 200px;
  width: 100%;
  background-image: url(../images/portf-hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px 25px 0;
}

.hero p {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  height: 45px;
  font-size: 36px;
  padding: 0 15px;
  font-weight: bold;
}
/*END HERO CSS*/

/*START FOOTER CSS*/
footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer address {
  margin: auto;
  width: 85%;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
}

footer address ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

footer address ul li {
  margin-bottom: 15px;
}

footer address ul li a {
  padding-bottom: 3px;
  font-size: 20px;
  border-bottom: 3px solid var(--primary-color);
}
/* END FOOTER CSS */




@media screen and (max-width: 1244px) {
  .work {
      display: flex;
      flex-flow: wrap column;
  }

  .primary-application {
      height: 250px;
      background-size: cover;
  }
  
  .secondary-block {
      display: flex;
      flex-flow: wrap column;
  }

  .float-left, .float-right {
      float: none;
      width: 80%;
      margin: 5px auto;
  }

  .section-title {
      border-right: none;
      border-bottom: 4px solid var(--primary-color);
      text-align: center;
      margin: 0 auto 15px auto;
      width: 80%;
  }

  .section-title h2 {
      text-align: center;
  }
}